@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.sidebar {
    width: 300px;
    padding: 1rem 0 1rem 1rem;
    color: white;
    background-color: rgb(37, 63, 63);
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
    height: 100vh;
}

.running__form {
    background-color: rgb(62, 104, 104);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 12px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.running__form label {
    margin-right: 0.3rem;
}

.running__form input, .running__form select {
    padding: 0.1rem;
    width: 50px;
}

.running__form #submit {
    width: 80px;
    padding: 0.1rem;
}

.form__row, .form__row-elevation, .form__row-cadence {
    width: 46%;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__row-elevation  {
    display: none;
}

.open {
    display: flex;
}
.close {
    display: none;
}


.workoutList {
    list-style: none;
    
}

.workoutItem {
    background-color: rgb(62, 104, 104);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 1rem;
}
.workoutItem > div {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.workoutItem > div:last-child {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.green__tag {
    border-left: 5px solid green;
}


.yellow__tag {
    border-left: 5px solid yellow;
}

.list {
    overflow-y: scroll;
    padding-right: 0.5rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track:hover {
    background-color: rgb(53, 88, 88);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 121, 121); 
    border-radius: 10px;
}